
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" >
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>

    <style type="text/css">
		.btn-circle.btn-xl {
			width: 100px;
			height: 100px;
			padding: 13px 18px;
			border-radius: 60px;
			font-size: 15px;
			text-align: center;
		}
	</style>
</head>
<body>

<div class="container-fluid">
    <div>
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">

        </nav>
    </div>


    <h1 class ="d-flex justify-content-center "> Web - Scrapping</h1>
    <form  action="/list" method="post" >
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <input class="form-control me-2 " id="url_search" name="url_search" type="text" 
                    value="{{url_search}}" placeholder="Search " aria-label="Search" required minlength="1">
            <button  class="btn btn-outline-success " type="submit">Search</button>
        </div>      
    </form>

    <h2 class ="d-flex justify-content-center "> Table</h2>
    
    
    
    <form  action="/search" method="post" >
                
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <input class="form-control me-2 w-25 " id="query_search" name="query_search" type="text" placeholder="Search Article" aria-label="Search" required minlength="1">
            <button  class="btn btn-outline-success " type="submit">Search</button>
        </div>    
        <div class="d-flex justify-content-center">
            <a class="fa-solid fa-arrow-rotate-left " href="/"></a> <!-- vòng tròn bottom -->
        </div>
  
    </form>

    <div>
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="table-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th>Title</th>
                    <th>Article</th>
                    <th>Author</th>
                    <th>Date Published</th>
                </tr>
            </thead>
            <tbody>
            
            {% for article in list_result %}
            <tr>
                {% for index in article %}
                    <td>{{index}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        
            </tbody>
        </table>
    </div>


    <div class="modal fade text-center"  id="confirmModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalTitle">Warning</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <span id="confirmText"></span>
                </div>

                <div class="modal-footer">
                    <a class="btn btn-success" id="yesDelete" href="">Yes</a>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>




</div>

</body>
</html>