
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" >
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <link rel="stylesheet" href="/static/style.css"></link>
    <style type="text/css">
		.btn-circle.btn-xl {
			width: 100px;
			height: 100px;
			padding: 13px 18px;
			border-radius: 60px;
			font-size: 15px;
			text-align: center;
		}
	</style>
    
</head>
<body>

<div class="container-fluid">
    <div>
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">

        </nav>
    </div>

    
    <h1 class ="d-flex justify-content-center "> Web - Scrapping</h1>

    <form  action="/crawling" method="post" >
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <input class="form-control me-2 " id="url_search" name="url_search" type="text" 
                    value="{{url_search}}" placeholder="Search " aria-label="Search" required minlength="1">
            <button  class="btn btn-outline-success " type="submit">Search</button>
        </div>

        <h2 class ="d-flex justify-content-center "> Table</h2>
        
        <div class="d-flex justify-content-center">
            <input type="hidden" id="rotate_reset" name="rotate_reset" value="False" required minlength="1" >
            <button class="fa-solid fa-arrow-rotate-left "  id="rotate" name="rotate" type="summit"></button> <!-- vòng tròn bottom -->   
        </div>   
        
    </form>


    
    
    
    <form  action="/search" method="post" >
                
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <input class="form-control me-2 w-25 " id="query_search" name="query_search" type="text" placeholder="Search Article" aria-label="Search" required minlength="1">
            <button  class="btn btn-outline-success " type="submit">Search</button>
        </div>    
  
    </form>

    
    <div>
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="table-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th>Title</th>
                    <th>Article</th>
                    <th>Author</th>
                    <th>Date Published</th>
                </tr>
            </thead>
        </table>
    </div>

    <section>
        <div class="loader">
            <span style="--i:1;"></span>
            <span style="--i:2;"></span>
            <span style="--i:3;"></span>
            <span style="--i:4;"></span>
            <span style="--i:5;"></span>
            <span style="--i:6;"></span>
            <span style="--i:7;"></span>
            <span style="--i:8;"></span>
            <span style="--i:9;"></span>
            <span style="--i:10;"></span>
            <span style="--i:11;"></span>
            <span style="--i:12;"></span>
            <span style="--i:13;"></span>
            <span style="--i:14;"></span>
            <span style="--i:15;"></span>
            <span style="--i:16;"></span>
            <span style="--i:17;"></span>
            <span style="--i:18;"></span>
            <span style="--i:19;"></span>
            <span style="--i:20;"></span>
        </div>
    </section>





</div>
<script >
    var button = document.getElementById("rotate");
    button.addEventListener("click", onClick);

    function onClick() {
        alert('Reload');
        document.getElementById('rotate_reset').value="True";
        button.removeEventListener("click", onClick);
    }

</script>
</body>
</html>